#pc-wrap {
	.home-page {
		position: relative;
		width: 100%;
		height: auto;
		.info-box {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.left {
				display: flex;
				flex-direction: column;
				span {
					color: #008675;
					font-size: 26px;
					font-family: "Work Sans";
					font-weight: 500;
					line-height: 29px;
					letter-spacing: -0.646px;
					text-transform: capitalize;
					&.white {
						color: black;
					}
				}
				p {
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px;
					&.white {
						color: #ffffff;
					}
				}
			}
			.right {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				.pagination-box {
					display: flex;
					flex-direction: row;
					align-items: center;
					.swiper-pagination-bullet.swiper-pagination-bullet-active {
						background: #008675;
					}
					.swiper-trend-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-trend-prev {
						margin-right: 20px;
						cursor: pointer;
					}
					.swiper-top-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-top-prev {
						margin-right: 20px;
						cursor: pointer;
					}
				}
				.more-box {
					display: flex;
					flex-direction: row;
					cursor: pointer;
					align-items: center;
					span {
						color: #008675;
						font-family: $font;
						font-size: 15px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						text-transform: capitalize;
					}
					img {
						margin-left: 10px;
						width: 16px;
						height: 16px;
					}
				}
				.btn-box {
					display: flex;
					flex-direction: row;
					button {
						border-radius: 6px;
						background: rgba(255, 255, 255, 0.07);
						color: #ffffff;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 28px;
						text-transform: capitalize;
						&:first-child {
							margin-right: 20px;
						}
						&.active {
							border: 1px solid #181a20;
							background: #fff;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: 28px;
						}
					}
				}
			}
		}
		.trend-properties {
			margin-top: -40px;
			padding: 20px 0px 30px;
			width: 100%;
			height: 450px;
			display: flex;
			flex-direction: row;
			background: #E8F6F3;
			.container {
				flex-direction: column;
				.card-box {
					position: relative;
					margin-top: 5x;
					display: flex;
					flex-direction: row;
					.empty-list {
						width: 1300px;
						height: 200px;
						display: flex;
						justify-content: center;
						align-items: center;				
					}
					.trend-property-swiper {
						width: 1300px;
						height: 400px;
						display: flex;
						flex-direction: row;
						.trend-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 10px 0 0 10px;
						}
					}
					.trend-card-box {
						position: relative;
						width: 235px;
						height: 325px;
						background-color: #F2F2F2;
						border-radius: 10px;
						display: flex;
						flex-direction: column;
						align-items: center; /* Center elements horizontally */
						transition: transform 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 136px;
							height: 207px;
							background-position: center center;
							background-size: cover;
							background-repeat: no-repeat;
							margin: 28px 0 0 0; /* Adjusted margin to center the image */
							cursor: pointer;
							div {
								position: absolute;
								padding: 8px 12px;
								left: 12px;
								bottom: 12px;
								border-radius: 6px;
								background: #fff;
								color: #181a20;
								font-family: "Roboto Condensed", sans-serif;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.title {
							margin-top: 50px; /* Add margin to separate from image */
							overflow: hidden;
							color: #212121;
							font-size: 16px;
							font-family: "Roboto Condensed", sans-serif;
							line-height: 25px;
							cursor: pointer;
							text-align: left;
						}
						.auth {						
							overflow: hidden;							
							color: #111927;
							font-family: "Roboto Condensed", sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							text-overflow: ellipsis;
							white-space: nowrap;
							text-align: left;
						}
						.bott {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							margin-top: 5px;
							width: 100%;
							box-sizing: border-box;
							border-radius: 0px 0px 12px 12px;
							border-top: 1px solid rgba(196, 196, 196, 0.71);
							.view-like-box {
								display: flex;
								flex-direction: row;
								align-items: center;
								.view-cnt {
									margin-left: 2px;
									margin-right: 15px;
									color: #717171;
									font-family: "Roboto Condensed", sans-serif;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
								.like-icon {
									color: red;
								}
							}
						}
					}		
					
				}}}
		
					
		.popular-properties {
			padding: 90px 0px 30px;
			width: 100%;
			height: 430px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
				align-items: center;
				.card-box {
					position: relative;
					margin-top: 10px;
					display: flex;
					flex-direction: row;
					.popular-property-swiper {
						width: 100%;
						height: auto;
						display: flex;
						flex-direction: row;
						.popular-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 5px;
						}
					}
					.popular-card-box {
						position: relative;
						width: 150px;
						height: 300px;
						background-color: #f2f2f2;	
						display: flex;
						flex-direction: column;
						transition: transform 0.3s, opacity 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 145px;
							height: 282px;
							background-position: center center;
							background-size: cover;
							background-repeat: no-repeat;
							cursor: pointer;
							margin: 0 auto; /* Center the image horizontally */
	
						}
						.info {
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							background: #fff;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								margin-top: 5px; /* Add margin to separate from image */
								overflow: hidden;
								color: #212121;
								font-size: 14px;
								font-family: "Roboto Condensed", sans-serif;
								line-height: 25px;
								cursor: pointer;
								text-align: left;
								cursor: pointer;
							}
							.auth {
								overflow: hidden;							
								color: #111927;
								font-family: "Roboto Condensed", sans-serif;
								font-size: 12px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
								text-align: left;
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								margin-top: 2px;
								width: 100%;
								.view-like-box {
									display: flex;
									flex-direction: row;
									align-items: center;
									.view-cnt {
										margin-left: 2px;
										margin-right: 15px;
										color: #717171;
										font-family: "Roboto Condensed", sans-serif;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
						}
					}
				}
				.pagination-box {
					display: flex;
					flex-direction: row;
					justify-content: right;
					align-items: right;				
					.swiper-pagination-bullet.swiper-pagination-bullet-active {
						background: #008675;		
					}
					.swiper-popular-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-popular-prev {
						margin-right: 20px;
						cursor: pointer;
					}
				}
			}
		}
		.advertisement-section {
			display: flex;
			flex-direction: row;
			justify-content: center; /* Center align the content horizontally */
			align-items: center; /* Center align the content vertically */
			width: 1300px; /* Fixed width for the container */
			height: 450px; /* Fixed height for the container */
			background-color: #ffffff; /* Background color */
			margin: 30px auto; 
		  }
		  
		  .text-content {
			display: flex;
			width: 50%;
			padding-right: 50px;
			margin-right: 50px;;
		  }
		  
		  .video-content {
			width: 517px; /* Updated width */
			height: 357px; /* Updated height */
			display: flex;
			justify-content: center;
			align-items: center;
		  }
		  
		  .video-content iframe {
			width: 100%; /* Ensure iframe takes full width of its container */
			height: 100%; /* Ensure iframe takes full height of its container */
		  }
		  
		  .text-content h2 {
			font-size: 32px;
			color: #008575;
			margin-bottom: 20px;
		  }
		  
		  .text-content p {
			font-size: 16px;
			color: #333;
			margin-bottom: 15px;
		  }
		  
		  .text-content strong {
			display: block; /* Ensure strong tags are block-level for better spacing */
			margin-top: 15px;
		  }
		  
		  .text-content button {
			width: 150px;
			height: 40px;
			padding: 0px 8px;
			border: 0;
			box-sizing: border-box;
			border-radius: 3px;
			box-shadow: 0px 1px 5px rgba(3,3,3,0.1);
			background-color: #008675;
			color: #ffffff;
			font-size: 16px;
			font-family: "Work Sans";
			font-weight: 900;
			line-height: 17px;
			outline: none;
			cursor: pointer;
		  }
		  
		  @media screen and (max-width: 768px) {
			.advertisement-section {
			  flex-direction: column;
			  align-items: flex-start;
			}
		  
			.text-content {
			  width: 100%;
			  padding-right: 0;
			  margin-bottom: 20px;
			}
		  
			.video-content {
			  width: 100%;
			  height: auto;
			}
		  
			.video-content iframe {
			  width: 100%; /* Full width on smaller screens */
			  height: auto; /* Auto height on smaller screens */
			}
		  }
		  
		
		
		.top-properties {
			padding: 20px 0px 30px;
			width: 100%;
			height: 400px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
				align-items: center;
				.card-box {
					position: relative;
					margin-top: 10px;
					display: flex;
					flex-direction: row;
					.top-property-swiper {
						width: 100%;
						height: auto;
						display: flex;
						flex-direction: row;
						.top-property-slide {
							width: auto;
							height: auto;
							display: flex;
							margin: 5px;
						}
					}
					.top-card-box {
						position: relative;
						width: 150px;
						height: 300px;
						background-color: #f2f2f2;	
						display: flex;
						flex-direction: column;
						transition: transform 0.3s, opacity 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 145px;
							height: 282px;
							background-position: center center;
							background-size: cover;
							background-repeat: no-repeat;
							cursor: pointer;
							margin: 0 auto; /* Center the image horizontally */	
						}
						.info {
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							background: #fff;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								margin-top: 5px; /* Add margin to separate from image */
								overflow: hidden;
								color: #212121;
								font-size: 14px;
								font-family: "Roboto Condensed", sans-serif;
								line-height: 25px;
								cursor: pointer;
								text-align: left;
								cursor: pointer;
							}
							.desc {
								overflow: hidden;							
								color: #111927;
								font-family: "Roboto Condensed", sans-serif;
								font-size: 12px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
								text-align: left;
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								margin-top: 2px;
								width: 100%;
								.view-like-box {
									display: flex;
									flex-direction: row;
									align-items: center;
									.view-cnt {
										margin-left: 2px;
										margin-right: 15px;
										color: #717171;
										font-family: "Roboto Condensed", sans-serif;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
						}
					}
				}
			}
		}
		.top-agents {
			padding: 20px 0px 30px;
			width: 100%;
			height: 450px;
			display: flex;
			flex-direction: row;
			background: #E8F6F3;
			.container {
				flex-direction: column;
				align-items: center;
				.wrapper {
					width: 100%;
					margin-top: 30px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					.switch-btn {
						width: 53px;
						height: 53px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						background: #008675;
						filter: drop-shadow(0px 10px 35px rgba(5, 16, 54, 0.1));
						cursor: pointer;
						svg {
							width: 14px;
							height: 14px;
						}
						&.swiper-agents-prev {
							color: #fff;
						
						}
						&.swiper-agents-next {
							transform: rotate(180deg);
							color: #fff;
						}
					}
					.card-wrapper {
						width: 1174px;
						height: 280px;
						display: flex;
						flex-direction: row;
						.top-agents-swiper {
							width: 99.7%;
							height: 280px;
							display: flex;
							flex-direction: row;
							.top-agents-slide {
								width: auto;
								height: auto;
								display: flex;
							}
						}
						.top-agent-card {
							width: 280px;
							height: 250px;
							display: flex;
							flex-direction: column;
							align-items: center;  
							padding: 10px;
							background: #F2F2F2;
							border-radius: 15px;
							box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
							transition: transform 0.3s;
							
							&:hover {
								transform: scale(1.05);
							}
						
							img {
								width: 180px;
								height: 180px;
								border-radius: 10px; 
								cursor: pointer;
								object-fit: cover;
								margin-bottom: 10px;
							}
						
							strong {
								color: #181a20;
								text-align: center;
								font-family: 'Roboto Condensed', sans-serif;
								font-size: 16px;
								font-style: normal;
								font-weight: 600;
								line-height: 20px;
								text-transform: capitalize;
								cursor: pointer;
								margin-bottom: 10px;  
							}
						
							span {
								color: #181a20;
								text-align: center;
								font-family: 'Roboto Condensed', sans-serif;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 18px;
							}
						}}}}}

				.events {
							padding: 70px 0px 30px;
							width: 1300px; 
							height: 480px;
							display: flex;
							flex-direction: column; 
							align-items: center; 
							background: white; 
							margin: 0 auto; 
						  }
						  
						  .events h4 {
							color: #008675;
							font-size: 26px;
							font-family: "Work Sans";
							font-weight: 500;
							line-height: 29px;
							letter-spacing: -0.646px;
							text-transform: capitalize;
							text-align: left; 
							&.white {
							  color: #008675;
							}
						  }
						  
						  .container {
							display: flex;
							flex-direction: column;
							align-items: center;
						  }
						  
						  .card-wrapper {
							width: 100%;
							margin-top: 30px;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;						
						  }
						  
						  .event-card {
							position: relative;
							width: 280px;
							height: 380px;
							border-radius: 12px;
							// background-color: #E8F6F3;
							box-shadow: 0 4px 8px #E8F6F3;
							opacity: 0.9;
							cursor: pointer;
							transition: opacity 0.4s, transform 0.3s ease;
						  }
						  
						  .event-card:hover {
							opacity: 1;
							transform: scale(1.05);
						  }
						  
						  .event-card .info {
							position: absolute;
							bottom: 0;
							width: 100%;
							background: rgba(0, 0, 0, 0.5);
							color: white;
							padding: 20px;
							display: flex;
							flex-direction: column;
						  }
						  
						  .event-card .info strong {
							font-size: 18px;
							font-weight: bold;
							margin-bottom: 5px;
						  }
						  
						  .event-card .info span {
							font-size: 14px;
							line-height: 20px;
						  }
						  
						
				 .shop-by-category {
							padding: 110px 0;
							width: 100%;
							display: flex;
							justify-content: center;
							background-color: #ffffff;
						  
							.container {
							  width: 1300px;
							  height: 850px;
							  display: flex;
							  flex-direction: column;
							  align-items: center;
							  background: #E8F6F3;
							  padding: 20px;
							  box-sizing: border-box;
						  
							  h4 {
								color: #008675;
								font-size: 26px;
								font-family: 'Work Sans', sans-serif;
								font-weight: 500;
								text-transform: capitalize;
								text-align: center;
								margin-bottom: 20px;
							  }
						  
							  .category-grid {
								display: grid;
								grid-template-columns: repeat(3, 1fr);
								grid-template-rows: repeat(3, 1fr);
								gap: 20px;
								width: 100%;
								height: 100%;
								box-sizing: border-box;
						  
								.category {
								  display: flex;
								  flex-direction: row;
								  width: 100%;
								  height: 100%;
								  background-color: #ffffff;
								  border-radius: 8px;
								  overflow: hidden;
								  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
						  
								  .category-image {
									width: 40%;
									background-size: cover;
									background-position: center;
									border-radius: 5px 0 0 5px;
								  }
						  
								  .category-details {
									width: 60%;
									padding: 20px;
									display: flex;
									flex-direction: column;
									justify-content: center;
						  
									h5 {
									  font-size: 18px;
									  color: #008575;
									  margin-bottom: 10px;
									}
						  
									.subcategory {
									  font-size: 14px;
									  color: #333;
									  margin-bottom: 5px;
									  cursor: pointer;
						  
									  &:hover {
										text-decoration: underline;
									  }
									}
								  }
								}
							  }
							}
						  }
						}
					}
							
						  