#pc-wrap {
	#property-detail-page {
	  margin-top: 70px;
	  position: relative;
	  background: white;
	  padding-top: 50px;
	  padding-bottom: 100px;
	  .property-detail-config {
		width: 100%;
		height: auto;
		padding-top: 30px;
		gap: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.property-info-config {
		  width: 90%;
		  height: auto;
		  display: flex;
		  flex-direction: row;
		  gap: 30px;
		  .info {			
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.images {
				display: flex;
				flex-direction: column;
				gap: 20px;
				.main-image {
				  width: 350px;
				  height: 450px;
				  img {
					width: 100%;
					height: 100%;
					object-fit:fill;
					border-radius: 10px;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				  }
				}
				.sub-images {
				  width: 100%;
				  display: flex;
				  flex-direction: row;
				  gap: 20px;
				  .sub-img-box {
					width: 100px;
					height: 100px;
					cursor: pointer;
					img {
					  width: 100%;
					  height: 100%;
					  object-fit: contain;
					  border-radius: 10px;
					  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
					}
				  }
				}
			  }
			}
			
			.left-box {
				width: 50%;
				display: flex;
				flex-direction: column;
				gap: 20px;
			  
				.title-main {
				  color: #2c3e50;
				  font-family: 'Georgia', serif;
				  font-size: 26px;
				  font-weight: bold;
				  line-height: 1.2;
				  text-transform: none;
				  word-wrap: break-word;      
				  overflow-wrap: break-word;  
				  white-space: normal;         
				  max-width: 100%;             
				}
			  
				.top-box {
				  margin-top: -10px;
				  display: flex;
				  flex-direction: column;
				  gap: 1px;
				  flex-wrap: wrap;          
			  
				  .city,
				  .date {
					color: #7f8c8d;
					font-family: 'Arial', sans-serif;
					font-size: 14px;
					font-weight: normal;
					line-height: 1.5;
				  }
			  
				  .date {
					font-style: italic;
				  }
			  
				  .divider {
					flex-grow: 1;       
				  }
				}
			  
				.bottom-box {
				  display: flex;
				  flex-direction: column;
				  gap: 15px;
			  
				  .option {
					display: flex;
					flex-direction: row;
					gap: 10px;
			  
					p {
					  color: #2c3e50;
					  font-family: 'Arial', sans-serif;
					  font-size: 14px;
					  font-weight: normal;
					  line-height: 1.5;
					}
				  }
				}
			  }
			  
			  
			.price {
				margin-top: 10px;
				color: #2c3e50;
				font-family: 'Arial', sans-serif;
				font-size: 20px;
				font-weight: bold;
				line-height: 1.2;
				text-transform: none;
			  }
			.right-box {
			 margin-top: 10px;
			  width: 25%;
			  display: flex;
			  flex-direction: column;
			  align-items: flex;
			  gap: 20px;

			  .buttons {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				p {
				  color: #2c3e50;
				  text-align: right;
				  font-family: 'Arial', sans-serif;
				  font-size: 16px;
				  font-weight: normal;
				  line-height: 1.5;
				  text-transform: none;
				}
				.button-box {
				  display: flex;
				  flex-direction: row;
				  gap: 10px;
				  align-items: center;
				}
			  }
			  p {
				color: #2c3e50;
				text-align: right;
				font-family: 'Georgia', serif;
				font-size: 28px;
				font-weight: bold;
				line-height: 1.2;
				text-transform: none;
			  }
			  span {
				color: #7f8c8d;
				text-align: right;
				font-family: 'Arial', sans-serif;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.5;
				text-transform: none;
			  }
			  .add-to-cart {
				background-color: #018675;
				color: white;
				font-family: 'Arial', sans-serif;
				font-size: 12px;
				font-weight: bold;
				padding: 10px 10px;
				border: none;
				border-radius: 30px;
				cursor: pointer;
				transition: background-color 0.3s ease;
			
				&:hover {
				  background-color: #007c6c;
				}
			  }
			}
		  }
		  .right-config {
			width: 400px; /* Slightly smaller width */
			padding: 10px; /* Reduced padding for a shorter height */
			gap: 15px; /* Reduced gap between elements */
			border: 1px solid #ddd;
			background: #f9f9f9;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			
			.info-box {
			//   width: 100%;
			  gap: 5px; /* Reduced gap between inner elements */
			  
			  .main-title {
				align-items: center;
				color: #2c3e50;
				font-family: 'Georgia', serif;
				font-size: 18px; /* Reduced font size */
				font-weight: bold;
				margin-bottom: 15px; /* Reduced margin bottom */
			  }
			  
			  .image-info {
				display: flex;
				align-items: center;
				gap: 5px; /* Reduced gap */
				
				img {
				  width: 80px; /* Smaller image */
				  height: 80px; /* Smaller image */
				  border-radius: 50%;
				  object-fit: cover;
				  border: 2px solid #ddd;
				}
				
				.name-phone-listings {
				  display: flex;
				  flex-direction: column;
				  gap: 5px; /* Reduced gap */
				  
				  .name {
					color: #2c3e50;
					font-family: 'Arial', sans-serif;
					font-size: 16px; /* Reduced font size */
					font-weight: bold;
				  }
				  
				  .phone-number {
					display: flex;
					align-items: center;
					gap: 3px; /* Reduced gap */
					
					.number {
					  color: #2c3e50;
					  font-family: 'Arial', sans-serif;
					  font-size: 14px; /* Reduced font size */
					}
				  }
				  
				  .listings {
					color: #3498db;
					font-family: 'Arial', sans-serif;
					font-size: 14px; /* Reduced font size */
					font-weight: bold;
					text-decoration: underline;
					cursor: pointer;
					transition: color 0.3s;
					
					&:hover {
					  color: #1d6f92;
					}
				  }
				}
			  }
			  
			  .sub-title {
				color: #2c3e50;
				font-family: 'Georgia', serif;
				font-size: 16px; /* Reduced font size */
				font-weight: bold;
				// margin-bottom: 8px; /* Reduced margin bottom */
			  }
			  
			  input, textarea {
				width: 100%;
				padding: 5px; /* Reduced padding */
				border-radius: 8px;
				border: 1px solid #ddd;
				background: #fafafa;
				outline: none;
				font-family: 'Arial', sans-serif;
				font-size: 14px; /* Reduced font size */
				transition: border 0.3s ease;
				
				&::placeholder {
				  color: #717171;
				}
				
				&:focus {
				  border: 1px solid #3498db;
				}
			  }
			  
			  textarea {
				height: 100px; /* Reduced height */
				resize: none;
			  }
			  
			  .send-message {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 8px;
				background: #018675;
				cursor: pointer;
				transition: background-color 0.3s;
				
				.title {
				  color: #fff;
				  font-family: 'Arial', sans-serif;
				  font-size: 14px; /* Reduced font size */
				  font-weight: bold;
				}
				
				&:hover {
				  background: #0dc0a8;
				}
			  }
			}
		  }
		}

		.property-desc-config {
		  width: 90%;
		  height: auto;
		  display: flex;
		  flex-direction: column;
		  gap: 30px;
		  .left-config {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 30px;

			.prop-desc-config {
				display: flex;
				flex-direction: row;
				padding: 20px;
				border-radius: 10px;
				border: 1px solid #ddd;
				background: #f9f9f9;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				
				.column {
				  flex: 1; /* Ensures each column takes up equal space */
				  padding: 15px;
				  display: flex;
				  flex-direction: column;
				  gap: 20px;
				  background: #fff;
				  border-radius: 8px;
				  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			  
				  .title {
					color: #2c3e50;
					font-family: 'Georgia', serif;
					font-size: 20px;
					font-weight: bold;
					line-height: 1.5;
					margin-bottom: 10px;
					border-bottom: 2px solid #ddd;
					padding-bottom: 5px;
				  }
			  
				  .desc {
					color: #7f8c8d;
					font-family: 'Arial', sans-serif;
					font-size: 15px;
					font-weight: normal;
					line-height: 1.6;
					max-height: auto;
					overflow: hidden;
					text-overflow: ellipsis;
				  }
			  
				  .info-box {
					display: flex;
					flex-direction: column;
					gap: 15px;
			  
					.info {
					  display: flex;
					  flex-direction: column;
					  gap: 5px;
			  
					  .title {
						color: #34495e;
						font-family: 'Georgia', serif;
						font-size: 16px;
						font-weight: bold;
						line-height: 1.5;
					  }
			  
					  .data {
						color: #414343;
						font-family: 'Arial', sans-serif;
						font-size: 14px;
						font-weight: normal;
						line-height: 1.5;
					  }
					}
				  }
				}
			  
				.divider {
				  width: 1px;
				  background: #ddd;
				  margin: 0 10px;
				}
			  }
			  
			  
			.floor-plans-config {
			  display: flex;
			  flex-direction: column;
			  gap: 20px;
			  padding: 20px;
			  border-radius: 10px;
			  border: 1px solid #ddd;
			  background: #fff;
			  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			  .title {
				color: #2c3e50;
				font-family: 'Georgia', serif;
				font-size: 18px;
				font-weight: bold;
				line-height: 1.5;
			  }
			  .image-box {
				width: 100%;
				height: 400px;
				border: 1px solid #ddd;
				img {
				  width: 100%;
				  height: 100%;
				  object-fit: contain;
				}
			  }
			}
			.address-config {
			  display: flex;
			  flex-direction: column;
			  gap: 20px;
			  padding: 20px;
			  border-radius: 10px;
			  border: 1px solid #ddd;
			  background: #fff;
			  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			  .title {
				color: #2c3e50;
				font-family: 'Georgia', serif;
				font-size: 18px;
				font-weight: bold;
				line-height: 1.5;
			  }
			  .map-box {
				width: 100%;
				height: 400px;
				iframe {
				  border-radius: 10px;
				}
			  }
			}  
		    
					.reviews-config {
						width: 100%;
						height: auto;
						padding: 30px 38px 45px 38px;
						border: 1px solid #ddd;
						background: #f9f9f9;
						box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
						.filter-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							justify-content: space-between;
							margin-bottom: 30px;
							background: #fff;
							border-radius: 8px;
							box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
							.review-cnt {
								width: auto;
								height: auto;
								flex-direction: row;
								align-items: center;
								gap: 12px;
								.reviews {
									width: 153.6px;
									color: #181a20;
									font-family: $font;
									font-size: 17px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
							.select-box {
								width: auto;
								height: auto;
								flex-direction: row;
								gap: 10px;
								.sort-title {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
								.select-main {
									width: 140px;
									border: none;
									outline: none;
									color: #181a20;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
							}
						}
						.review-list {
							width: 100%;
							height: auto;
							gap: 20px;
							.review-config {
								width: 100%;
								height: auto;
								padding-bottom: 10px;
								border-bottom: 1px solid #c4c4c4;
								.review-mb-info {
									width: 100%;
									height: auto;
									flex-direction: row;
									justify-content: space-between;
									.img-name-box {
										width: 30%;
										flex-direction: row;
										align-items: center;
										gap: 20px;
										.img-box {
											width: 65px;
											height: 65px;
											align-items: center;
											justify-content: center;
											border-radius: 50%;
											background: #f6f6f6;
											border: 1px solid #b9b9b9;
											object-fit: cover;
										}
										.name {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 15px;
											font-style: normal;
											font-weight: 600;
											line-height: normal;
											cursor: pointer;
										}
										.date {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
									.review-stars {
										padding-top: 10px;
									}
								}
								.desc-box {
									width: 100%;
									height: auto;
									margin-top: 15px;
									.description {
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 26px;
									}
								}
							}
							.pagination-box {
								margin-top: 15px;
								width: 100%;
								height: auto;
								display: flex;
								justify-content: center;
							}
						}
					}
					.leave-review-config {
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						background: #fff;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
						padding: 30px 38px;
						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						.review-title {
							margin-top: 20px;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						textarea {
							width: 100%;
							height: 120px;
							margin-top: 8px;
							padding: 20px;
							border-radius: 8px;
							border: 1px solid #ddd;
							color: #717171;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
						.submit-btn {
							width: 100%;
							display: flex;
							justify-content: flex-end;
							button:disabled {
								background: #dfdfdf;
							}
							.submit-review {
								display: flex;
								width: 256px;
								margin-top: 30px;
								padding: 16px 30px;
								justify-content: center;
								align-items: center;
								gap: 10px;
								border-radius: 12px;
								border: 1px solid #c4c4c4;
								cursor: pointer;
								.title {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
						}
					}
				}
	     	 
			}
			.similar-properties-config {
				width: 1180px;
				padding: 20px;
				background-color: #f9f9f9;
				border-radius: 10px;
				border: 1px solid #c4c4c4;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			  
				.title-pagination-box {
				  display: flex;
				  justify-content: space-between;
				  align-items: flex-start; 
				  margin-bottom: 20px;
				  position: relative;
			  
				  .title-box {
					.main-title {
					  font-size: 24px;
					  font-weight: 600;
					  color: #333;
					}
			  
					.sub-title {
					  font-size: 16px;
					  color: #757575;
					  margin-top: 5px;
					}
				  }
			  
				  .pagination-box1 {
					display: flex;
					align-items: center;
					gap: 10px;
					position: absolute; 
					top: 0; 
					right: 0;  
		  
					.swiper-similar-prev,
					.swiper-similar-next {
					  font-size: 24px;
					  color: #018675;
					  cursor: pointer;
					  transition: color 0.3s ease;
			  
					  &:hover {
						color: #015b54;
					  }
					}
				  }
				}
			  
				.cards-box {
				  width: 100%;
			  
				  .similar-homes-swiper {
					width: 100%;
					padding-bottom: 30px;
			  
					.swiper-slide {
					  width: auto !important;
					  min-width: 250px;
					  height: auto;
					  display: flex;
					  justify-content: center;
			  
					  @media (max-width: 1200px) {
						width: calc(33.333% - 20px); // 3 slides at once
					  }
			  
					  @media (max-width: 768px) {
						width: calc(50% - 20px); // 2 slides at once
					  }
			  
					  @media (max-width: 480px) {
						width: calc(100% - 20px); // 1 slide at once
					  }
					}
				  }
				}
			  }
				  }
}
