#pc-wrap {
	#property-list-page {
		padding-bottom: 40px;
		background: white;
		.container {
			.right {
				position: absolute;
				right: 0;
				top: 3%;
				display: flex;
				flex-direction: row;
				align-items: center;
				z-index: 2;
				button {
					margin-left: 10px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: bold;
					line-height: 26px;
					&:hover {
						background: none;
					}
				}
			}
			.property-page {
				position: relative;
				width: 100%;
				flex-direction: row;
				gap: 25px;
				padding-top: 96px;
				.filter-config {
					width: 339px;
					height: auto;
					.filter-main {
						width: 100%;
						padding: 30px;
						border-radius: 12px;
						background: #E8F6F3;
						box-shadow: 0 1px 4px 0 rgba(65, 71, 90, 0.07);
					  }
					  
					  .find-your-home {
						position: relative;
						width: 100%;
						gap: 10px;
					  }
					  
					  .title-main {
						width: 100%;
						height: 25px;
						color: #181a20;
						font-family: 'Arial', sans-serif;
						font-size: 18px;
						font-weight: 600;
					  }
					  
					  .title {					
						width: auto;
						height: auto;
						color: #181a20;
						font-family: 'Arial', sans-serif;
						font-size: 18px;
						font-weight: 600;
						cursor: pointer;
						padding: 10px 0;
					  }
					  
					  .property-location,
					  .button-group, 
					  .square-year-input {
						gap: -1px;
						height: auto;
						overflow: hidden;
						transition: height 0.6s ease;
					  }
					  .button-group {
						display: flex;
						flex-direction: row;
						gap: 1px;
						
						button {
							height: 50px;
							width: 100%;
							
							border-radius: 20px; // Rounded corners for a softer look
							border-color: black;
							background-color: #E8F6F3; // Light background color for buttons
							font-family: 'Arial', sans-serif;
							font-size: 18px;
							font-weight: 500; // Slightly bolder font for better readability
							color: #333; // Darker text color for contrast
							transition: all 0.3s ease;
							display: flex;
							align-items: center;
							justify-content: center;
							text-transform: capitalize;					  
				
							&:hover {
							  border: 1px solid #6fd0bb; // Change border color on hover
							  background-color: white; // Light blue background on hover
							  color: #6fd0bb; // Change text color to match the border on hover
							}
						
							&.active {
							  border: 1px solid #6fd0bb; // Border color for active state
							  background-color: #018675; // Consistent background color for active state
							  color: white; // Text color to match the border and background
							}
						  }
						}

					  .button-group1 {
						display: flex;
						flex-direction: column;
						gap: 1px; // Slight gap between buttons to make them distinct
					  
						button {
						  height: 40px;
						
						  background-color: #E8F6F3; // Light background color for buttons
						  font-family: 'Arial', sans-serif;
						  font-size: 16px;
						  font-weight: 500; // Slightly bolder font for better readability
						  color: #333; // Darker text color for contrast
						  transition: all 0.3s ease;
						  display: flex;
						  align-items: left;
						  justify-content: left;
						  text-transform: capitalize;					  
			  
						  &:hover {
							border: 1px solid #6fd0bb; // Change border color on hover
							background-color: white; // Light blue background on hover
							color: #6fd0bb; // Change text color to match the border on hover
						  }
					  
						  &.active {
							border: 1px solid #6fd0bb; // Border color for active state
							background-color: #018675; // Consistent background color for active state
							color: white; // Text color to match the border and background
						  }
						}
					  }
					  
						
					  
					  .input-box {
						position: relative;
						width: 100%;
						flex-direction: row;
						align-items: center;
					  }
					  
					  .search-input {
						width: 100%;
						height: 45px;
						border-radius: 8px;
						border: 1px solid #ddd;
						background: #fff;
						outline: none;
						padding-left: 43px;
						color: #717171;
						font-family: 'Arial', sans-serif;
						font-size: 15px;
						font-weight: 400;
						padding-left: 3px;						
					  }
					  
					  .central-divider {
						margin: 3px 0 3px 0;
						width: 40px;
						border: 1px solid black;
					  }
					  
					  .square-year-input input {
						width: 80%;
						height: 40px;
						border-radius: 8px;
						border: 1px solid #ddd;
						background: #fff;
						outline: none;
						padding-left: 15px;
					  }
					  
					  .square-year-input input::placeholder {
						color: #717171;
						font-family: 'Arial', sans-serif;
						font-size: 14px;
						font-weight: 400;
	
								input {
									width: 100%;
									height: 49px;
									border-radius: 3px;
									border: 1px solid #ddd;
									background: #fff;
									outline: none;
									padding-left: 15px;
								}
								label {
									line-height: 13px;
								}
								input::placeholder {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
						}							
				}
				$card-width: 296px; // Card width
				$card-height: 360px; // Card height
				$gap: 15px; // Gap between cards
				$main-width: 936px; // Width of the main container
				
				.main-config {
				  width: $main-width;
				  margin: 0 auto; // Centering the container
				  display: flex;
				  flex-direction: column;
				  align-items: center;
				
				  .list-config {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between; // Aligns items with equal space between them
					flex-direction: row;
					width: 100%;
					gap: $gap;
				
					.card-config {
					  width: calc((100% - 3 * #{$gap}) / 4); // Adjust the width for 4 items in a row with gap
					  height: $card-height;
					  margin-bottom: 7px;
					  border-radius: 12px;
					  background: #fff;
					  overflow: hidden; // Ensure content doesn't overflow the card
					  box-shadow: 0px 4px 8px 0px rgba(24, 26, 32, 0.1); // Updated shadow
					  transition: opacity 0.4s, transform 0.3s ease, box-shadow 0.3s ease; // Added transition for smooth hover effect
				
					  &:hover {
						opacity: 1;
						transform: scale(1.05);
						box-shadow: 0px 8px 16px 0px rgba(24, 26, 32, 0.2); // Enhanced shadow on hover
					  }
				
					  .top {
						position: relative;
						width: 100%;
						height: 100%; // Make the top section take the full height of the card
				
						img {
						  width: 100%;
						  height: 100%;
						//   object-fit: cover;
						//   border-radius: 12px; // Ensure the entire card is covered
						}
				
						.content {
						  position: absolute;
						  bottom: 0;
						  width: 100%;
						  padding: 16px;
						  background: rgba(0, 0, 0, 0.5); // Add a dark overlay for better text visibility
						  color: #fff;
						  border-radius: 0 0 12px 12px;
				
						  .name-address {
							// margin-bottom: 10px;
				
							.name {
							  overflow: hidden;
				
							  p {
								color: #fff;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
							  }
							}
				
							.address {
							  overflow: hidden;
				
							  p {
								color: white;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
							  }
							}
						  }
				

				
						  .type-buttons {
							display: flex;
							align-items: center;
							justify-content: space-between; // Aligns items with equal space between them

							.price-box {
								font-size: 18px;
								font-weight: 600;
								margin-bottom: 10px;
								color: white;
							  }
				
							.buttons {
							  display: flex;
							  align-items: center;
							  gap: 10px; // Adjust gap between icons and text
				
							  svg {
								width: 24px;
								height: 24px;
								cursor: pointer;
								color: #fff; // Ensure icons are visible on dark background
							  }
				
							  .view-cnt {
								font-size: 16px;
								font-weight: bold; // Added bold font weight
								color: #fff; // Ensure text is visible on dark background
							  }
							}
						  }
						}
					  }
					}
				  }
				
					
					.pagination-config {
						margin-top: 20px;
						width: 442px;
						height: 86px;
						align-items: center;
						gap: 20px;
						.pagination-box {
							width: 100%;
							align-items: center;
						}
						.total-result {
							p {
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 24px;
								font-style: normal;
								font-weight: 275;
								line-height: 26px;
							}
						}
					}
				}
			}
		}
	}
}
