#pc-wrap {
	#community-list-page {
		position: relative;
		width: auto;
		.container {
			padding-top: 50px;
			display: flex;
			flex-direction: column;
			gap: 40px;


			.main-box {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.tabs-container {
					display: flex;
					flex-direction: row;
					overflow-x: auto;
					align-items: center;
				}

				.tab-button {
					padding: 10px;
					border-radius: 5px;
					border: 1px solid #757575;
					margin: 5px;
					color: #181a20;
					font-size: 14px;
					text-align: center;
					cursor: pointer;
					white-space: nowrap;
					background: #f5f5f5;

					&.active {
						background-color: #018675;
						color: #fff;
					}
				}

				.content-box {
					margin-top: 50px;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					align-items: center;
				}

				.left-config {
					flex: 1;
					display: flex;
					flex-direction: column;

					.image-info {
						display: flex;
						align-items: center;
						gap: 15px;

						img {
							width: 60px;
							height: 60px;
							border-radius: 50%;
							object-fit: cover;
						}

						.community-name .name {
							font-size: 22px;
							font-weight: 600;
							color: #181a20;
							font-family: Monaco;
						}
					}
				}

				.right-config {
					flex: 3;
					display: flex;
					flex-direction: column;
					gap: 20px;

					.panel-config {
						display: flex;
						flex-direction: column;
						gap: 40px;

						.title-box {
							display: flex;
							justify-content: space-between;
							align-items: center;
							gap: 20px;

							.left {
								flex: 1;

								.title {
									font-size: 24px;
									font-weight: 600;
									color: #000;
								}

								.sub-title {
									font-size: 14px;
									font-weight: 400;
									color: #757575;
								}
							}

							.right {
								padding: 8px 16px;
								border-radius: 4px;
								background: #018675;
								color: #fff;
								font-size: 14px;
								text-align: center;
								cursor: pointer;
							}
						}

						.list-box {
							display: flex;
							flex-wrap: wrap;
							flex-direction: row;
							gap: 20px;
						}

						.no-data {
							display: flex;
							align-items: center;
							gap: 10px;
							color: #757575;
							font-size: 14px;
						}
					}
				}
			}

			.pagination-config {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;

				.total-result {
					font-size: 14px;
					color: #181a20;
				}
			}
		}
	}
}
