.pcWrap {
	width: 1300px;
	margin-top: 50px;
	display: flex;
	justify-content: center; 
	max-width: 100%; 
	background: #e8f6f3;
	border-radius: 12px;
	border: 1px solid rgba(196, 196, 196, 0.79);
	box-shadow: 0 1px 4px rgba(24, 26, 32, 0.07);
	padding: 8px;
  
	.container {
	  position: relative;
	  width: 100%; // Fixed width
	  display: flex;
	  flex-direction: row;
	  justify-content: center; // Center content horizontally
	  padding-top: 96px;
	  margin: 0 auto; // Center the container itself
  
	  .backFrame {
		width: 100%;
		max-width: 1300px;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 12px;
		border: 1px solid #c4c4c4;
		background: #fff;
		box-shadow: 0 1px 4px rgba(24, 26, 32, 0.07);
		margin: 0 auto; // Center the backFrame within the container
  
		.leftConfig {
		  display: flex;
		  flex-direction: column;
		  width: 250px; // Fixed width for the left menu
		  margin-right: 16px; // Add some spacing to the right
		  border-radius: 12px;
		  background: #e8f6f3;
		  border: 1px solid rgba(196, 196, 196, 0.79);
		  box-shadow: 0 1px 4px rgba(24, 26, 32, 0.07);
		  padding: 16px;
		}
  
		.main-config {
		  flex: 1; // Take up remaining space
		  margin-bottom: 76px;
  
		  .list-config {
			display: flex;
			flex-direction: column;
			gap: 20px;
		  }
		
				.profile {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 5px;
		
					.profileImg {
					img {
						width: 79px;
						height: 79px;
						border-radius: 50%;
						object-fit: cover;
					}
					}
		
					.userInfo {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 8px;
		
					.userName {
						color: #181a20;
						font-size: 15px;
						font-weight: 600;
						line-height: normal;
					}
		
					.userPhone {
						display: flex;
						align-items: center;
						margin-top: 8px;
		
						img {
						margin-right: 4px;
						width: 16px;
						height: 16px;
						}
					}
					}
				}
  
		  .sections {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
  
			.section {
			  .title {
				font-size: 15px;
				font-weight: 400;
				line-height: 28px;
			  }
  
			  .subSection {
				width: 230px;
				display: flex;
				align-items: center;
				cursor: pointer;
				padding: 0 5px;
  
				li {
				  height: 33px;
				  margin-bottom: 6px;
				  border-radius: 4px;
				}
  
				&.focus {
				  height: 50px;
				  background: #000;
				  border-radius: 10px;
				  display: flex;
				  align-items: center;
				  justify-content: center;
  
				  p {
					font-size: 14px;
					color: #fff;
				  }
				}
  
				.flexBox {
				  display: flex;
				  align-items: center;
  
				  .comIcon {
					display: flex;
					margin-left: 11px;
				  }
  
				  p {
					font-size: 14px;
				  }
				}
			  }
  
			  img {
				width: 16px;
				height: 16px;
			  }
  
			  .subTitle {
				margin-left: 12px;
				color: #181a20;
				font-size: 14px;
				font-weight: 600;
				line-height: 55px;
			  }
			}
		  }
  
		  .community {
			margin-top: 20px;
  
			.title {
			  font-size: 15px;
			  font-weight: 400;
			  line-height: 28px;
			}
  
			.subSection {
			  width: 230px;
			  display: flex;
			  align-items: center;
			  cursor: pointer;
			  padding: 0 5px;
  
			  li {
				height: 33px;
				margin-bottom: 6px;
				border-radius: 4px;
			  }
  
			  &.focus {
				height: 50px;
				background: #000;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
  
				p {
				  font-size: 14px;
				  color: #fff;
				}
			  }
  
			  .flexBox {
				display: flex;
				align-items: center;
  
				.comIcon {
				  display: flex;
				  margin-left: 11px;
				}
  
				p {
				  font-size: 14px;
				}
			  }
			}
  
			img {
			  width: 16px;
			  height: 16px;
			}
  
			.subTitle {
			  margin-left: 12px;
			  color: #181a20;
			  font-size: 14px;
			  font-weight: 600;
			  line-height: 55px;
			}
		  }
  
		  .manageList {
			display: flex;
			flex-direction: row;
			margin-top: 20px;
		  }
  
		  .agentName,
		  .logout {
			margin-top: 20px;
		  }
		}
  
		/* Adjust styles for right side */
		.rightConfig {
		  display: flex;
		  flex-direction: column;
		  flex: 1;
		  padding: 24px;
  
		  .topButtons {
			display: flex;
			flex-direction: row;
			margin-bottom: 16px;
  
			.button {
			  border-radius: 50%;
			  width: 150px;
			  height: 50px;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  cursor: pointer;
			  transition: background-color 0.3s ease;
  
			  &.active {
				background-color: #018675;
				color: #fff;
  
				p {
				  font-size: 14px;
				}
			  }
  
			  &:hover {
				background-color: #018675;
			  }
  
			  p {
				font-size: 14px;
			  }
			}
		  }
  
		  .menuItems {
			display: flex;
			flex-direction: row;
			padding: 0;
			gap: 16px;
  
			.menuItem {
			  display: flex;
			  flex-direction: row;
			  align-items: center;
			  justify-content: center;
			  width: 150px;
			  height: 50px;
			  border-radius: 50%;
			  cursor: pointer;
			  transition: background-color 0.3s ease;
  
			  &.active {
				background-color: #018675;
				color: #fff;
  
				img {
				  width: 22px;
				  height: 22px;
				}
  
				p {
				  font-size: 14px;
				}
			  }
  
			  &:hover {
				background-color: #018675;
			  }
  
			  img {
				width: 22px;
				height: 22px;
			  }
  
			  p {
				font-size: 14px;
				margin-left: 12px;
			  }
			}  
		  
					.main-config {
						position: relative;
						width: 936px;
						margin-top: 52px;
						align-items: center;
						gap: 109px;
						.list-config {
							display: flex;
							width: 100%;
							height: auto;
							flex-direction: row;
							flex-wrap: wrap;
							gap: 22px;
							.card-config {
								width: 296px;
								height: 413px;
								margin-bottom: 7px;
								border-radius: 12px;
								background: #fff;
								box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
								.top {
									position: relative;
									width: 100%;
									height: 240px;
									img {
										width: 100%;
										height: 100%;
										object-fit: contain;
										border-radius: 12px 12px 0 0;
									}
									.top-badge {
										position: absolute;
										top: 20px;
										left: 16px;
										display: flex;
										width: 80px;
										height: 30px;
										justify-content: center;
										align-items: center;
										border-radius: 6px;
										padding: 6px 20px;
										background: #eb6753;
										color: #fff;
										text-align: center;
										text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
										font-family: $font;
										font-size: 12px;
										font-style: normal;
										font-weight: 600;
										line-height: normal;
										img {
											height: 16px;
										}
									}
									.price-box {
										position: absolute;
										bottom: 20px;
										left: 20px;
										padding: 8px 15px;
										align-items: center;
										border-radius: 6px;
										border: 1px solid rgba(255, 255, 255, 0.5);
										background: #fff;
										p {
											color: #181a20;
											font-family: $font;
											font-size: 15px;
											font-style: normal;
											font-weight: 600;
											line-height: normal;
										}
									}
								}
								.bottom {
									width: 100%;
									height: 100%;
									padding: 20px 16px 10px 16px;
									.name-address {
										width: 100%;
										height: 48px;
										gap: 5px;
										margin-bottom: 20px;
										.name {
											width: 100%;
											height: 23px;
											overflow: hidden;
											p {
												color: #181a20;
												font-family: $font;
												font-size: 15px;
												font-style: normal;
												font-weight: 600;
												line-height: normal;
												text-transform: capitalize;
											}
										}
										.address {
											width: 100%;
											overflow: hidden;
											p {
												color: #717171;
												font-family: $font;
												font-size: 13px;
												font-style: normal;
												font-weight: 400;
												line-height: normal;
											}
										}
									}
									.options {
										flex-direction: row;
										width: 100%;
										height: 20px;
										gap: 20px;
										margin-bottom: 10px;
										.option {
											flex-direction: row;
											gap: 5px;
											align-items: center;
											p {
												color: #181a20;
												font-family: $font;
												font-size: 13px;
												font-style: normal;
												font-weight: 400;
												line-height: normal;
											}
										}
									}
									.divider {
										width: 100%;
										height: 1px;
										background: #ddd;
										margin-bottom: 17px;
									}
									.type-buttons {
										flex-direction: row;
										width: 100%;
										justify-content: space-between;
										align-items: center;
										.type {
											flex-direction: row;
											align-items: center;
											gap: 7px;
											p {
												color: #181a20;
												font-family: $font;
												font-style: normal;
												line-height: normal;
											}
											.disabled-type {
												color: rgba(143, 143, 143, 0.54);
												font-family: $font;
												font-style: normal;
												line-height: normal;
											}
										}
										.buttons {
											flex-direction: row;
											width: auto;
											gap: 12px;
											justify-content: center;
											align-items: center;
											padding-right: 10px;
										}
									}
								}
							}
						}
						.pagination-config {
							width: 442px;
							height: 86px;
							align-items: center;
							gap: 20px;
							.pagination-box {
								width: 100%;
								align-items: center;
							}
							.total-result {
								p {
									color: #181a20;
									text-align: center;
									font-family: $font;
									font-size: 24px;
									font-style: normal;
									font-weight: 275;
									line-height: 26px;
								}
							}
						}
					}
				}
			}
		}
	}
}
